<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rails_app</title>
</head>
<body>
    <%# <h1>Re:ゼロから始める異世界生活</h1> %>
    <h1> <%= @rem %> </h1>
    <% #ブログ作成 %>
    <% #データ作成(create),データ閲覧(read),データ更新(update),データ削除(delete) %>
    <%= link_to "ブログへ",articles_path %> <br>
</body>